/* ©️ Copyright Oluwagbemiga 2023 */

/* === Imports for the SCSS Buttons Style ==== */
@import '../core/variables';

/* === Button-Specific Variables ==== */
:root {
    --btn-transition: background-color 0.2s ease-in;
    --btn-width: 100%;
    --btn-hover-color: hsla(0, 0%, 50%, 0.8);
    // add more variables under here
}

.button {
    border: 0;
    outline: 0;
    background-color: black;
    color: white;
    font-size: 18px;
    display: block;
    padding: 0.8rem 1.6rem;
    margin: 0;
    cursor: pointer;
    border-radius: 12px;
    width: var(--btn-width);
    transition: var(--btn-transition);
    font-weight: 400;

    &:hover {
        background-color: var(--btn-hover-color);
        color: white;
    }

    &:active {
        background-color: black;
        opacity: 0.8;
        color: white;
    }

    &:focus,
    &:focus-within,
    &:focus-visible {
        outline: 1px solid black;
        background-color: transparent;
        color: black;
    }

    &--outline {
        border: 1px solid black;
        color: black;
        font-weight: 600;
        background-color: white;

        &:hover {
            background-color: darken($color: grey, $amount: 1);
            border: 0;
            outline: 0;
        }

        &:active {
            background-color: grey;
            color: black;
        }

        &:focus {
            outline-offset: 1px solid black;
        }
    }

    &--primary {
        background-color: $primary-color;
        color: white;

        &:hover {
            background-color: $primary-color--hover;
            border: 1px solid $primary-color;
        }

        &_outline {
            background-color: transparent;
            color: $primary-color--outline;
            border: 1px solid $primary-color--outline;

            &:hover {
                background-color: darken($color: $primary-color--outline, $amount: 1);
                color: white;
                outline: 1px solid $primary-color--outline;
            }

            &:active {
                background-color: $primary-color--outline;
                color: white;
                opacity: 0.8;
            }

            &:focus {
                outline: 1px solid $primary-color--outline;
            }
        }

        &:active {
            background-color: $primary-color--active-focus;
        }

        &:focus {
            outline: 1px solid $primary-color--outline;
            background-color: $primary-color--active-focus;
        }
    }

    &--secondary {
        background-color: $secondary-color;
        color: white;

        &:hover {
            background-color: $secondary-color--hover;
            border: 1px solid $secondary-color;
        }

        &_outline {
            background-color: transparent;
            color: $secondary-color--outline;
            border: 1px solid $secondary-color--outline;

            &:hover {
                background-color: darken($color: $secondary-color--outline, $amount: 1);
                color: white;
                outline: 1px solid $secondary-color--outline;
            }

            &:active {
                background-color: $secondary-color--outline;
                color: white;
                opacity: 0.8;
            }

            &:focus {
                outline: 1px solid $secondary-color--outline;
            }
        }

        &:active {
            background-color: $secondary-color--active-focus;
        }

        &:focus {
            outline: 1px solid $secondary-color--outline;
            background-color: $secondary-color--active-focus;
        }
    }

    &--tetiary {
        background-color: $tetiary-color;
        color: white;

        &:hover {
            background-color: $tetiary-color--hover;
            border: 1px solid $tetiary-color;
        }

        &_outline {
            background-color: transparent;
            color: $tetiary-color--outline;
            border: 1px solid $tetiary-color--outline;

            &:hover {
                background-color: darken($color: $tetiary-color--outline, $amount: 1);
                color: white;
                outline: 1px solid $tetiary-color--outline;
            }

            &:active {
                background-color: $tetiary-color--outline;
                color: white;
                opacity: 0.8;
            }

            &:focus {
                outline: 1px solid $tetiary-color--outline;
            }
        }

        &:active {
            background-color: $tetiary-color--active-focus;
        }

        &:focus {
            background-color: $tetiary-color--active-focus;
            outline: 1px solid $tetiary-color--outline;
            outline-offset: 1px solid $black;
        }
    }

    &--has-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.8rem;
        gap: 0.2rem;
    }

    &-icon {
        display: block;
        width: 50px;
        height: 50px;
        object-fit: cover; // If it's an image file .png, .jpeg, .jpg, or svg
    }

    &--loading {
        cursor: not-allowed;
        background-color: grey; // change to a blurry background
        opacity: 0.4;
        outline: 0;
        border: 0;
    }
}